.container{
  display: flex;
  flex:1fr 1fr;
}
.container h2 {
  top:20%;
  font-size: 36px;
  font-family: Roboto, Arial, sans-serif;
  margin-bottom: 30px;
}
.card-container{
  display: flex;
  flex:1fr 1fr;
}
.card-container img{
  width:552px;
  height:552px;
}


.task-gifting-section {
  background-color: #fef1ee;
  padding: 50px 10%;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
}

.task-gifting-section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  gap: 30px;
}

.card {
  padding: 20px;
  text-align: center;
}

.card img {
  width: 552px;
  height:552px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}



.card p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.card button.btn {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
}


.btn {
  background-color: #eb1700;
}

.card small {
  display: block;
  margin-top: 10px;
  font-size: 11px;
  color: #555;
}
