.neighborhood {
  text-align: center;
  padding: 60px 20px;
  font-family: roboto , Arial;
  background: white;
}

.neighborhood h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Tabs */
.tabs {
  display: flex;
  margin: 0 20%;
  justify-content: center;
  border-bottom: 2px solid #eee;
}

.tab {
  font-size: 18px;
  font-weight: bold;
  width:55%;
  color: #555;
  cursor: pointer;
  padding: 8px 10px;
  position: relative;
}
.tabs :hover{
  background-color:#55555525 ;
}

.tab.active {
  color: black;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
}

/* City Lists */
.city-lists {
  display: flex;
  justify-content: left;
  gap: 180px;
  flex-wrap: wrap;
  margin: 0px 20%;
  line-height: 180%;
  font-size: 18px;
  font-weight: 550px;
}

.city-lists ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.city-lists li {
  margin: 5px 0;
  font-size: 16px;
  color: #222;
}

/* See More */
.see-more {
  font-family:"Roboto","Arial";
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #111;
  padding: 12px 20px;
}

.circle-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #f0f0f0;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.circle-btn:hover {
  background-color: #ddd;
}


